.resume {
  font-size: 20px;
}

.section {
  margin-top: 20px;
}

.section-header {
  border-bottom: 2px solid #D8D8D8;
  padding-bottom: 10px;
}

.section-item {
  margin-top: 10px;
}

.section-item-header {
  font-weight: 900;
}
