.page-content {
  margin-top: 40px;
}

.home-info {
  font-size: 12px;
  margin-top: 10px;
}

.home .icon {
  font-size: 20px;
  padding-left: 10px;
}

.home .icon.first {
  padding-left: 0px;
}

.top-note {
  padding-left: 10px;
}

table.announcements {
  border-spacing: 10px 0px;
}

table.announcements tr {
  border-bottom: 1px solid #D3D3D3;
}

td.date {
  width: 35%;
}

td.announcement {
  width: 65%;
}

.main-interests {
  margin-top: 20px;
}

.main-interests .interest {
  border-right: 2px solid #D8D8D8;
  font-size: 17px;
}

.main-interests .interest.last {
  border-right: none;
}

.main-interests .interest h5 {
  text-align: center;
}

.main-interests .interest .fas {
  font-size: 48px;
  margin-right: 10px;
}

.main-interests .interest-content {
  margin-top: 20px;
}
