<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>Adam Wiemerslage</h2>
      </div>
      <div class="col-sm-4">
        <nav class="navbar navbar-expand-lg navbar-ligh">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <div class="nav-item nav-link">/</div>
            <a class="nav-item nav-link" href="/about">About</a>
            <div class="nav-item nav-link">/</div>
            <a class="nav-item nav-link" href="/cv">CV</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
