<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8" name="description" content="{{ site.description }}">
    <meta name="keywords" content="Adam Wiemerslage, Adam, Wiemerslage, Adamits, Natural Language Processing, Linguistics, CU Boulder">
    <meta property="og:title" content="Adam Wiemerslage">
    <meta property="og:site_name" content="Adam Wiemerslage">
    <link rel="stylesheet" href="{{ "/css/header.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/cv.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <link rel="stylesheet" type="text/css"\
      href="{{ "/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css"\
      href="{{ "/css/fontawesome/fontawesome-all.min.css" | prepend: site.baseurl }}">
    <script type="text/javascript"\
      src="{{ "/bootstrap/js/bootstrap.min.js"  | prepend: site.baseurl }}">
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#accordion" ).accordion();
    } );
    </script
</head>
